body {
    color : #e5e7eb;
    margin: 0px;
    padding: 0px;
    background-color: #292c35;
    font-family: 'Popins', sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body.darkmode {
    color: #292c35;
    background-color: #e5e7eb;
    z-index: 99;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#welcomediv {
    position: absolute;
    top: 25%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -25%);

}

#welcomeh1 {
    font-size: 5vh;
}

#welcomeh2{
    font-size: 3vh;
}

#welcomep{
    font-size: 2vh;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  #hostlink {
    color: #e5e7eb;
    text-decoration: none;
    padding: 5%;
    font-size: 2vh;
  }

  .darkmode #hostlink {
      color: #292c35;
  }
  #socialslink {
      color: #e5e7eb;
      text-decoration: none;
      padding: 5%;
      font-size: 2vh;
  }
  .darkmode #socialslink {
    color: #292c35;
  }


  #surprisehtml {
      display: flex;
      justify-content: center;
    color : #e5e7eb;
    margin: 0px;
    padding: 0px;
    background-color: #292c35;
    font-family: 'Popins', sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  #surprisehtml.darkmode {
    display: flex;
    justify-content: center;
  color : #292c35;
  margin: 0px;
  padding: 0px;
  background-color: #e5e7eb;
  font-family: 'Popins', sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

  a {
      padding: 3%;
      font-size: 2vh;
  }

#sociallink {
    color: #e5e7eb;
    padding: 10%
}
.darkmode #sociallink {
    color: #292c35;
}

#darkmodetoggle {
    background-color: #000;
    border: none;
    height: 3em;
    width: 3em;
    border-radius: 10%;
}

.fas.fa-sun {
    color: #e5e7eb;
}
.far.fa-moon{
    display: none;
}

.darkmode .fas.fa-sun {
    display: none;
}
.darkmode .far.fa-moon {
  display: block;
  color: #292c35;
}

.darkmode #darkmodetoggle {
    background-color: #fff;
    border: none;
    height: 3em;
    width: 3em;
    border-radius: 10%;
}
#surpriselink {
    color: #e5e7eb;
    font-size: 90%;
    position: absolute;
    left: 50%;
    top: 92%;
    transform: translate(-50%);
}

#aboutlink {
    color: #e5e7eb;
    text-decoration: none;
    padding: 5%;
    font-size: 2vh;
}

.darkmode #aboutlink {
    color: #292c35;
}

.darkmode #surpriselink {
    color: #292c35
}
#dark-mode-toggle {
    border: none;
    height: 40px;
    width: 40px;
    background-color: #000;
    color: #e5e7eb;
    border-radius: 4px;
    text-align: center;
    font-size: 1.1vh;
}
.darkmode #dark-mode-toggle {
    border: none;
    height: 40px;
    width: 40px;
    background-color: #fff;
    color: #e5e7eb;
    border-radius: 4px;
    text-align: center;
    font-size: 0.9vh;
}

.spinner-wrapper{
    width: 100%;
    height: 100%;
    background-color: #292c35;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.darkmode .spinner-wrapper {
    background-color: #e5e7eb;
}

.spinner {
    position: relative;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.spinner::before,
.spinner:after{
    content: "";
    position: absolute;
    border-radius: 50%;
}

.spinner:before {
    width: 100%;
    height: 100%;
    background-image:linear-gradient(90deg, #013DC4  0%,#7339AB  100% );
    animation: spin 1s infinite linear;
}
.spinner:after {
    width: 90%;
    height: 90%;
    background-color: #292c35;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.darkmode .spinner:after {
    background-color: #e5e7eb;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }

}
